{% extends "appname/_base.html" %}
{% load static %}

{% block navbar%}
<style>
  .container {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px; /* Default font size */
  }
  
  .approved {
    background-color: #A0D683; /* dark green */
    color: #000000; /* black */
  }
  
  .not-approved {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
  }
</style>  
<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="#hero" class="active">Home<br></a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'feed' %}">Review</a></li>

    <li><a href="{% url 'logout' %}">Logout </a></li>

  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
{%endblock%}
{%block content%}

<h2>
   
</h2>
{% comment %} <div class="container">
  {% if obj.is_approved %}
You are Approved user
{% else %}
Not Approved
{% endif %}
</div> {% endcomment %}

<div class="container {% if obj.is_approved %}approved{% else %}not-approved{% endif %}">
  {% if obj.is_approved %}
    You are an Approved user
  {% else %}
    Not Approved
  {% endif %}
</div>
<br><br>


{% endblock %}
